@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #0f1115;
}

.search {
    color: #0f1115;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    padding: 0.5em;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-align: center;
    background: 0 0;
    color: #fff;
    border-bottom: 2px solid #fff;
    text-align: left;
    color: #0f1115;
    background: #fff;
    border-radius: 12px;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
    padding-left: 2.5em;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 0.75em center;
    width: 320px;
    max-width: 80vw;
    border-radius: 100px;
    border: none;
}

.search-icon {
    position: absolute;
    top: 11.4px;
    left: 14px;
}

.search-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    position: relative;
}

.sort-margin {
    margin-top: 0.75rem;
}

@media (min-width: 768px) {
    .search-wrapper {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .sort-margin {
        margin-top: 24px;
    }
}

.display-none {
    display: none;
}

@media (min-width: 768px) {
    .display-none-md {
        display: none;
    }

    .display-flex-md {
        display: flex;
    }

    .display-block-md {
        display: block;
    }
}

.top-banner {
    text-align: center;
    color: white;
    top: 20px;
    font-weight: bold;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .top-banner {
        margin-top: 0;
    }
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border: 4px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bottom-dip {
    background-image: url(/images/BottomDip.png);
    height: 96px;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .big-borders {
        border-radius: 10px;
    }
}

.bottom-left-quarter-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-bottom-left-radius: 110px;
    border: 2px solid white;
    border-right: 0px;
    border-top: 0px;
}

.bottom-left-quarter-circle-large {
    width: 20px;
    height: 20px;
    background-color: white;
    border-bottom-left-radius: 110px;
    border: 2px solid white;
    border-right: 0px;
    border-top: 0px;
}

.bottom-right-quarter-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-bottom-right-radius: 110px;
    border: 2px solid white;
    border-left: 0px;
    border-top: 0px;
}

.bottom-right-quarter-circle-large {
    width: 20px;
    height: 20px;
    background-color: white;
    border-bottom-right-radius: 110px;
    border: 2px solid white;
    border-left: 0px;
    border-top: 0px;
}

.top-right-quarter-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-top-right-radius: 110px;
    border: 2px solid white;
    border-bottom: 0px;
    border-left: 0px;
}

.top-right-quarter-circle-large {
    width: 20px;
    height: 20px;
    background-color: white;
    border-top-right-radius: 110px;
    border: 2px solid white;
    border-bottom: 0px;
    border-left: 0px;
}

.top-left-quarter-circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-top-left-radius: 110px;
    border: 2px solid white;
    border-bottom: 0px;
    border-right: 0px;
}

.top-left-quarter-circle-large {
    width: 20px;
    height: 20px;
    background-color: white;
    border-top-left-radius: 110px;
    border: 2px solid white;
    border-bottom: 0px;
    border-right: 0px;
}

.top-title {
    position: absolute;
    left: calc(50% - 67.17px);
    top: 80px;
    font-size: 11px;
    border: 4px solid black;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: #e5e7eb;
}

.top-title-cocktail-page {
    font-size: 11px;
    border: 4px solid black;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: #e5e7eb;
}

.neon-text {
    color: #fff;
    text-shadow: 0 0 100px #000000, 0 0 300px #fff, 0 0 300px #fff, 0 0 50px #bc13fe, 0 0 40px #bc13fe, 0 0 100px #bc13fe, 0 0 200px #bc13fe, 0 0 100px #bc13fe;
}

.neon-box-pink {
    animation: pulsate 1.5s infinite alternate;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem #bc13fe, 0 0 0.5rem #bc13fe, 0 0 0.3rem #bc13fe, inset 0 0 0.5rem #bc13fe;

}

.neon-box-orange {
    animation: pulsate 1.5s infinite alternate;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem #ffb500, 0 0 0.5rem #ffb500, 0 0 0.3rem #ffb500, inset 0 0 0.5rem #ffb500;

}

.neon-box-green {
    animation: pulsate 1.5s infinite alternate;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem #98ff6a, 0 0 0.5rem #98ff6a, 0 0 0.3rem #98ff6a, inset 0 0 0.5rem #98ff6a;

}

.neon-box-blue {
    animation: pulsate 1.5s infinite alternate;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem #6a9cff, 0 0 0.5rem #6a9cff, 0 0 0.3rem #6a9cff, inset 0 0 0.5rem #6a9cff;
}